<div class="navbar-wagon navbar-fixed-top">
  <!-- Logo -->
  <%= link_to "VERTERES", root_path, id: "logo" %>
  <!-- Right Navigation -->
  <div class="navbar-wagon-right">
    <%= link_to "Sobre", anchor: "sobre-section", class: "navba r-wagon-item navbar-wagon-link" %>
    <%= link_to "A Câmara", "/infocamara", class: "navbar-wagon-item navbar-wagon-link" %>
    <%= link_to "Vereadores", "/councillors", class: "navbar-wagon-item navbar-wagon-link" %>
    <%= link_to "Projetos", "/projects", class: "navbar-wagon-item navbar-wagon-link" %>
  </div>
</div>
