<div class=<%= current_page?(root_path) ? 'navbar-wagon-float' : 'navbar-wagon'  %>>
  <!-- Logo -->
  <a href="/" class="navbar-wagon-brand">
    <%= image_tag "logo.png", id: "logo" %>
  </a>
  <!-- Right Navigation -->
  <div class="navbar-wagon-right">
    <%= link_to "A Câmara", "/infocamara", class: "navbar-wagon-item navbar-wagon-link" %>
    <%= link_to "Vereadores", "/councillors", class: "navbar-wagon-item navbar-wagon-link" %>
    <%= link_to "Projetos", "/projects", class: "navbar-wagon-item navbar-wagon-link" %>
  </div>
</div>
