<div id="banner">
</div>

<div class="section">
  <div class="row-camara col-xs-12" id="surgimento">
    <br>
    <a id="sobre-section"><h3>Como surgiu o projeto?</h3></a>
    <div class="project">
      <div class="project-info col-xs-3">
        <div class="icon">
          <i class="far fa-lightbulb"></i>
        </div>
        <br>
        <br>
        <div class="info-texto">
          <p> Você se lembra em quem votou para vereador na última eleição? Sabe se essa pessoa foi eleita? E, em caso positivo, como está trabalhando na Câmara de Vereadores? Quais veículos de informação você utiliza para saber sobre isso? Será que eles dão a atenção devida para essas informações?</p>
        </div>
      </div>
      <div class="project-info col-xs-3">
        <div class="icon">
          <i class="fa fa-shopping-basket"></i>
        </div>
        <br>
        <br>
        <div class="info-texto">
          <p> A lei de <%= link_to 'Dados Abertos', 'http://dados.gov.br/noticia/primeira-lei-de-acesso-no-mundo-que-preve-dados-abertos', target:"_blank" %> disponibiliza uma base de dados eletrônica, para que qualquer cidadão possa utilizar e tirar conclusões sobre o funcionamento de algumas instituições públicas. Legal! Mas você já visualizou como esses dados são <%= link_to 'disponibilizados', 'http://www.saopaulo.sp.leg.br/wp-content/uploads/dados_abertos/vereador/vereador.txt' %>? Achou confuso? Nós também!</p>
        </div>
      </div>
      <div class="project-info col-xs-3">
        <div class="icon">
          <i class="fa fa-cogs"></i>
        </div>
        <br>
        <br>
        <div class="info-texto">
          <p>Enquanto ainda não temos tecnologias como as do seriado <em>Black Mirror</em> em nossos olhos para tirarmos conclusões a respeito dessas APIs, resolvemos criar o Projeto Vérteres. Nele, damos uma "arrumadinha" nesses dados e disponibilizamos de uma maneira mais fácil de ser digerida por nós, seres humanos. </p>
        </div>
      </div>
    </div>
  </div>

<div class="section" id="camara">

  <div class="section-presentation">
    <h3>Como funciona a Câmara dos Vereadores?</h3>
  </div>
  <br>
  <div class="row-camara col-xs-12">
    <div class="info-box col-xs-3">
      <div class="number">55</div>
      <div class="number-desc">é o número de vereadores eleitos.</div>
    </div>
    <div class="info-box col-xs-3">
      <div class="number">4 anos</div>
      <div class="number-desc">é a duração de seu mandato, sem limite para reeleição.</div>
    </div>
    <div class="info-box col-xs-3">
      <div class="number">150%</div>
      <div class="number-desc">é o número de vagas disponíveis no município. Esta é a quantidade de vereadores que cada partido pode lançar.</div>
    </div>
    <div class="box-sem-borda col-xs-3">
      <div class="number" style="font-size: 32px;">R$ 156 mil/mês</div>
      <div class="number-desc"><br>é a verba de gabinete por vereador, que é o dinheiro destinado à contratação de assessores.</div>
    </div>
  </div>
  <br><br><br>
  <br><br><br>
  <br><br><br>
  <div class="infocamara-button col-xs-12">
    <%= link_to "Saiba mais", "/infocamara", class: "btn btn-danger" %>
  </div>
  <br>
  <br>
</div>

<div class="section" id="graphs">
  <div class="section-presentation">
    <h3>Que informações conseguimos a partir desses dados?</h3>
  </div>
  <div class="container">
    <br>
    <div class="row align-center">
      <div class="col-xs-12 col-sm-4">
        <div class="card align-center margin-left">
          <%= render "votings/index" %>
          <p>Podemos ver a quantidade de votações realizadas na Câmara mensalmente. São consideradas aqui somente votações referentes a um projeto de lei específico.</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="card align-center margin-left">
          <%= column_chart Project.where(ano: 2012..2018).group(:ano).count, thousands: ".", width: "350px", height: "350px", ytitle: "Projetos"%>
          <p>Também conseguimos ver o total de projetos elaborados anualmente pelos vereadores, abrangendo todas as diferentes modalidades (PL, RDS, PR, PLO, etc)...</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="card align-center">
          <% status_list = ["Em Tramitação", "Vetado", "Aprovado", "Promulgado", "Encerrado por Ilegalidade", "Retirado pelo autor"] %>
          <%= line_chart status_list.map { |stat|
            {name: stat, data: Project.where(status: stat).group(:ano).count }
          }, height: "350px", thousands: "." %>
          <p>...e desse total, temos a divisão acima quanto à atual situação dos projetos elaborados em cada ano. (Considerando somente PL, PDL, PR e PLO)</p>
        </div>
      </div>
    </div>
  </div>
</div>

