<div id="banner">
</div>

<div class="section">
  <div class="row-camara col-xs-12">
    <a id="sobre-section"><h3>Como surgiu o projeto?</h3></a>
    <div class="project">
      <div class="project-info col-xs-3">
        <div class="icon">
          <i class="far fa-lightbulb"></i>
        </div>
        <br>
        <br>
        <div class="info-texto">
          <p> Você se lembra em quem votou para vereador na última eleição? Sabe se essa pessoa foi eleita? E, em caso positivo, como está trabalhando na Câmara de Vereadores? Que veículos de informações você utiliza para saber disso? Os veículos de comunicação que existem dão a atenção devida para essas informações?</p>
        </div>
      </div>
      <div class="project-info col-xs-3">
        <div class="icon">
          <i class="fa fa-shopping-basket"></i>
        </div>
        <br>
        <br>
        <div class="info-texto">
          <p> A lei de <%= link_to 'Dados Abertos', 'http://dados.gov.br/noticia/primeira-lei-de-acesso-no-mundo-que-preve-dados-abertos', target:"_blank" %> disponibiliza uma base de dados em forma eletrônica para que qualquer cidadão possa utilizar delas e tirar conclusões sobre o funcionamento de algumas instituições públicas.<br>  Legal! Mas já visualizou como esses dados são <%= link_to 'disponibilizados', 'http://www.saopaulo.sp.leg.br/transparencia/dados-abertos/dados-disponibilizados-em-formato-aberto/' %>? <br>Achou confuso? Nós também! <br></p>
        </div>
      </div>
      <div class="project-info col-xs-3">
        <div class="icon">
          <i class="fa fa-cogs"></i>
        </div>
        <br>
        <br>
        <div class="info-texto">
          <p>Enquanto ainda não temos tecnologias tipo <em>Black Mirror</em> nos nossos olhos para tirarmos conclusões dessas API só batendo o olho nelas, resolvemos criar o Projeto Vérteres. Nele damos uma arrumadinha nesses dados e disponibilizamos de uma maneira mais fácil de ser digerida por nós humanos. </p>
        </div>
      </div>
    </div>
  </div>

<div class="section" id="camara">

  <div class="section-presentation">
    <h3>Como funciona a câmara de vereadores?</h3>
  </div>
  <br>
  <div class="row-camara col-xs-12">
    <div class="info-box col-xs-3">
      <div class="number">55</div>
      <div class="number-desc">Vereadores na Câmara de São Paulo.</div>
    </div>
    <div class="info-box col-xs-3">
      <div class="number">4 anos</div>
      <div class="number-desc">Duração de seu mandato, sem limite para reeleição.</div>
    </div>
    <div class="info-box col-xs-3">
      <div class="number">150%</div>
      <div class="number-desc">Do número de vagas disponíveis no município. Esta é a quantidade de vereadores que cada partido pode lançar.</div>
    </div>
    <div class="box-sem-borda col-xs-3">
      <div class="number">R$ 156 mil</div>
      <div class="number-desc">Por mês de verba de gabinete por vereador, que é o dinheiro destinado à contratação de assessores.</div>
    </div>
  </div>
  <br><br><br>
  <br><br><br>
  <br><br><br>
  <div class="infocamara-button col-xs-12">
    <%= link_to "Saiba mais", "/infocamara", class: "btn btn-danger" %>
  </div>
  <br>
  <br>
</div>

<div class="section" id="graphs">
  <div class="section-presentation">
    <h3>Que informações conseguimos a partir desses dados?</h3>
  </div>
  <div class="container">
    <div class="row align-center">
      <div class="col-xs-12 col-sm-4">
        <div class="card align-center">
          <%= image_tag 'graph1.png' %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="card align-center">
          <%= image_tag 'graph2.png' %></div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="card align-center">
          <%= image_tag 'graph3.png' %>
        </div>
      </div>
    </div>
  </div>
</div>

