<div class="section-c" id="pro-camara">
  <div class="section-presentation">
    <h3>A CÂMARA</h3>
  </div>
</div>
<div class="section-c" id="pro-camara2">
  <div class="section-b">
    <h3>Todas as cidades possuem um grupos de pessoas eleitas para representar o povo</h3>
  </div>
</div>
<div class="wrapper-gray">
  <div class="container">
    <div class="flexbox">
      <div class="flex-item">
        <div class="card-flip">
          <div class="content-flip">
            <div class="front-flip">
              <%= image_tag "represent_icon.png", alt: "represent", width: 200 %>
            </div>
            <div class="back-flip">
              <h4 class="card-title">Os vereadores são os representantes dos cidadãos na cidade</h4>
            </div>
          </div>
        </div>
      </div>
      <div class="flex-item">
        <div class="card-flip">
          <div class="content-flip">
            <div class="front-flip">
              <%= image_tag "care_icon.png", alt: "seats", width: 200 %>
            </div>
            <div class="back-flip">
              <h4 class="card-title">Os vereadores devem respeitar a democracia e buscar o bem-comum para todos, sem qualquer forma de distinção</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="wrapper-gray">
  <div class="container">
    <div class="flexbox">
      <div class="flex-item">
        <div class="card-flip">
          <div class="content-flip">
            <div class="front-flip">
              <%= image_tag "house_icon.png", alt: "house", width: 200 %>
            </div>
            <div class="back-flip">
              <h4 class="card-title">O Palácio Anchieta é o espaço público onde os vereadores se reunem para os debates e votações</h4>
            </div>
          </div>
        </div>
      </div>
      <div class="flex-item">
        <div class="card-flip">
          <div class="content-flip">
            <div class="front-flip">
              <%= image_tag "camara_teste.png", alt: "seats", width: 250 %>
            </div>
            <div class="back-flip">
              <h4 class="card-title">Em São Paulo a Câmara de Vereadores possui 55 cadeiras e 17 partidos políticos</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section-c" id="pro-camara2">
  <div class="section-b">
    <h3>As principais responsabilidades dos vereadores são</h3>
  </div>
</div>
<div class="wrapper-gray">
  <div class="container">
    <div class="flexbox">
      <div class="flex-item">
        <div class="card-flip">
          <div class="content-flip">
            <div class="front-flip">
             <%= image_tag "law_icon.png", alt: "law", width: 200 %>
            </div>
            <div class="back-flip">
              <h4 class="card-title">
                <p><strong>Leis</strong><p>
                <p>criar, mudam e desfazer as regras que organizam a cidade</p>
              </h4>
            </div>
          </div>
        </div>
      </div>
      <div class="flex-item">
        <div class="card-flip">
          <div class="content-flip">
            <div class="front-flip">
              <%= image_tag "oversee_icon.png", alt: "oversee", width: 200 %>
            </div>
            <div class="back-flip">
              <h4 class="card-title">
                <p><strong>Fiscalizar</strong></p>
                <p>as ações da prefeitura e impedir que quebre Leis ou aja com irresponsabilidade</p>
              </h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Os Projetos de Lei (PL) são criados e votados pelos vereadores com a participação do prefeito. É ele que vai confirmar (sancionar) o projeto, transformando ele em lei. O prefeito pode também criar uma lei, mas ela PRECISA ser votadas pelos vereadores -->


