<div class="container">
  <!-- <div class="wrapper-gray"> -->
    <!-- <div class="test"> -->
      <div class="flexbox">
        <div class="flex-item">
          <!-- <div class="card-flip">
            <div class="content-flip">
              <div class="front-flip"> -->
                <%= image_tag "represent_icon.png", alt: "represent", width: 200 %>
              <!-- </div> -->
              <!-- <div class="back-flip"> -->
                Representação
              <!-- </div>
            </div>
          </div> -->
        </div>
        <div class="flex-item">
        <!--   <div class="card-flip">
            <div class="content-flip">
              <div class="front-flip"> -->
                <%= image_tag "care_icon.png", alt: "seats", width: 200 %>
              <!-- </div> -->
              <!-- <div class="back-flip"> -->
                Care
              <!-- </div>
            </div>
          </div> -->
        </div>
      </div>
    <!-- </div> -->
  <!-- </div> -->
<!--   <div class="wrapper-gray"> -->
    <div class="container">
      <div class="flexbox">
        <div class="flex-item">
          <div class="card-flip">
            <div class="content-flip">
              <div class="front-flip">
                <%= image_tag "house_icon.png", alt: "house", width: 200 %>
              </div>
              <div class="back-flip">
                Palácio Anchieta
              </div>
            </div>
          </div>
        </div>
        <div class="flex-item">
          <div class="content-flip">
            <div class="front-flip">
              <%= image_tag "camara_teste.png", alt: "seats", width: 200 %>
            </div>
            <div class="back-flip">
              55 Cadeiras
            </div>
          </div>
        </div>
      </div>
    </div>
<!--   </div> -->
<!--   <div class="wrapper-gray"> -->
    <div class="container">
      <div class="flexbox">
        <div class="flex-item">
          <div class="content-flip">
            <div class="front-flip">
             <%= image_tag "law_icon.png", alt: "law", width: 200 %>
            </div>
            <div class="back-flip">
              Leis
            </div>
          </div>
        </div>
        <div class="flex-item">
          <div class="content-flip">
            <div class="front-flip">
              <%= image_tag "oversee_icon.png", alt: "oversee", width: 200 %>
            </div>
            <div class="back-flip">
              Fiscalizar
            </div>
          </div>
        </div>
      </div>
    </div>
<!--   </div> -->
</div>

<br>
<br>
<br>
<br>
<br>
<!--             <p>O Palácio Anchieta (google maps) no bairro de Bela Vista, é o espaço público onde os vereadores se reunem para os debates e votações</p> -->
<!-- Criam, mudam e desfazer as regras que organizam a cidade -->
            <!-- <h3>As principais responsabilidades dos vereadores são</h3> -->
 <!-- as ações da prefeitura para que não quebre as Leis e que aja com responsabilidade -->
            <!-- <data-toggle="tooltip" data-placement="left" title="Criam, mudam e desfazer as regras que organizam a cidade."></button> -->

            <!-- <data-toggle="tooltip" data-placement="right" title="."> -->



        <!-- os  de sua cidade, e não só com as pessoas que votaram neles. -->
        <!-- Todas as cidades possuem um grupos de pessoas eleitas para representar o povo -->

<!-- Os Projetos de Lei (PL) são criados e votados pelos vereadores com a participação do prefeito. É ele que vai confirmar (sancionar) o projeto, transformando ele em lei. O prefeito pode também criar uma lei, mas ela PRECISA ser votadas pelos vereadores -->
<!-- Câmara de Vereadores que julgará o prefeito.  -->

