<div class="section" id="project-chart-type">
  <div class="section-presentation">
    <h3>TIPOS DE MATÉRIA</h3>
  </div>
  <div class="row col-xs-12">
    <div class="project">
      <div class="project-info col-xs-4">
        <div class="icon">
          <i class="far fa-sticky-note"></i>
        </div>
      <br><br>
      <div class="info-texto">
        <p></p>

      <p>http://splegisws.camara.sp.gov.br/ws/ws2.asmx/TiposDeMateria</p>
      </div>
        <div class="scroll-wrapper">
          <%= render 'components/tipos_de_projeto' %>
        </div>
      </div>

      <div class="project-info col-xs-6">
        <div class="project-chart">
        <p>2012</p>
          <%= column_chart Project.where(ano: 2012).group(:tipo).count, thousands: ".", width: "600px", height: "300px", xtitle: "Tipo de matéria", ytitle: "Quantidade" %>
        <p>2017</p>
          <%= column_chart Project.where(ano: 2017).group(:tipo).count, thousands: ".", width: "600px", height: "300px", xtitle: "Tipo de matéria", ytitle: "Quantidade" %>
        </div>
        <p>2018</p>
        <div class="project-chart">
          <%= column_chart Project.where(ano: 2018).group(:tipo).count, thousands: ".", width: "600px", height: "300px", xtitle: "Tipo de matéria", ytitle: "Quantidade"  %>

        <%= column_chart Project.councillors_names(2012, "IND"), thousands: "."%>

        <%= line_chart @project_list.map { |project|
    {name: project, data: @projects.where(tipo: project).group(:ano).count }
      }, height: "500px", thousands: "." %>

        <%= line_chart @status_list.map { |stat|
    {name: stat, data: @projects.where(status: stat).group(:ano).count }
      }, height: "400px", thousands: "." %>
      <p>status de perojetos</p>

        <%= line_chart @status_list.map { |stat|
    {name: stat, data: @projects.where(status: stat).group(:ano).count }
      }, height: "400px", thousands: "." %>

        </div>
      </div>
    </div> <!-- project -->

  </div> <!-- row-camara -->




<!-- http://www.saopaulo.sp.leg.br/?s=requerimento -->

</div>


<!-- http://splegisws.camara.sp.gov.br/ws/ws2.asmx/ProjetosPorAnoJSON?ano=2018 -->
