<div>
  <p>Gráfico de presença total de todos os vereadores</p>
  <p>lista de vereadores com link para show do vereador</p>
</div>

<h3>Média Geral de Presença (Mandato corrente)</h3>
<div class="progress">
  <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width:<%= @general_presence %>%;">
    <%= @general_presence %>%
  </div>
</div>

<% @party_attendances.each do |party| %>
  <p><%= party[0] %></p>
  <div class="progress">
    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width:<%= party[1] %>%;">
      <%= party[1] %>%
    </div>
  </div>
<% end %>

<form>
  <div class="form-group">
    <label for="exampleFormControlSelect1">Vereadores</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <% @councillors.each do |councillor| %>
        <option data-id=<%= "#{councillor.id}" %>>
          <%= link_to councillors_path(councillor) do %>
            <%= councillor.name %>
          <% end %>
        </option>
      <% end %>
    </select>
  </div>
</form>
