<!-- <div class="page-header back-image" id="councillors-page">
  <h1>Ánálise dos vereadores <small>Subtext for header</small></h1>
</div>
 -->
<div class="section" id="attendance-chart">
  <div class="section-presentation">
    <h3>Presença</h3>
  </div>
  <div class="row-camara col-xs-12">
    <div class="project-info col-xs-4">
      <div class="icon">
        <i class="fas fa-user-check"></i>
      </div>
      <br><br>
      <div class="info-texto">
        <p>A base de cálculo da presença dos vereadores foi obtida a partir de um arquivo como <%= link_to 'este', 'https://splegispdarmazenamento.blob.core.windows.net/containersip/PRESENCAS_2018.xml', target:"_blank" %>.<br>Nele, podemos ver se cada candidato compareceu ou não à sessão de um determinado dia. A partir daí, através de um cálculo simples, consideramos qualquer outro status diferente de <em>Presente</em>, como um não-comparecimento à sessão.<br><br><em>Mas por que isso é importante?</em><br>O não comparecimento às sessões pode causar o seu cancelamento por falta de participantes e, desta maneira, a Câmara de São Paulo deixa de apresentar, discutir e votar projetos que possam ser importantes para a cidade.</p>
      </div>
    </div>

    <div class="project-info col-xs-4">
      <div class="icon">
        <i class="fas fa-users"></i>
      </div>
      <br><br>
      <div class="info-texto">
        <p>A barra abaixo representa a média de presença de todos os vereadores do mandato corrente, ou seja, desde o início de 2017:</p>
      </div>
      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width:<%= @general_presence %>%;">
          <%= @general_presence %>%
        </div>
      </div>
      <br><br>
      <div class="info-texto">
        <p>Caso tenha interesse em acompanhar a presença individual de um vereador, selecione seu nome abaixo:</p>
      </div>
        <form>
          <div class="form-group">
            <label for="exampleFormControlSelect1">Escolha um vereador</label>
            <select class="form-control" id="exampleFormControlSelect1">
              <% @councillors.each do |councillor| %>
                <option data-id=<%= "#{councillor.id}" %>>
                  <%= link_to councillors_path(councillor) do %>
                    <%= councillor.name %>
                  <% end %>
                </option>
              <% end %>
            </select>
          </div>
        </form>
    </div>

    <div class="project-info col-xs-4">
      <div class="icon">
        <i class="far fa-flag"></i>
      </div>
      <br><br>
      <div class="info-texto">
        <p>Abaixo, temos a média de presença de cada partido desde o início de 2017:</p>
      </div>
      <div class="scroll-wrapper">
        <div class="col-xs-12">
          <% @party_attendances.each do |party| %>
            <div class="card align-center">
              <%= party[0] %>
            </div>
            <div class="card align-center">
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width:<%= party[1] %>%;">
                  <%= party[1] %>%
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div> <!-- scroll-wrapper -->
    </div>

  </div> <!-- row-camara -->
</div> <!-- section -->




<div class="section" id="outra-coisa-ND">
  <div class="section-presentation">
    <h3>Outros gráficos</h3>
  </div>
  <br>
  <div class="row-camara col-xs-12">
    <div class="project-info col-xs-4">
      <div class="icon">
        <i class="fas fa-user-check"></i>
      </div>
      <br><br>
      <div class="info-texto">
        <p>A base de cálculo da presença dos vereadores foi obtida a partir de um arquivo como <%= link_to 'este', 'https://splegispdarmazenamento.blob.core.windows.net/containersip/PRESENCAS_2018.xml', target:"_blank" %>.<br>Nele, podemos ver se cada candidato compareceu ou não à sessão de um determinado dia. A partir daí, através de um cálculo simples, consideramos qualquer outro status diferente de <em>Presente</em>, como um não-comparecimento à sessão.<br><br><em>Mas por que isso é importante?</em><br>O não comparecimento às sessões pode causar o seu cancelamento por falta de participantes e, desta maneira, a Câmara de São Paulo deixa de apresentar, discutir e votar projetos que possam ser importantes para a cidade.</p>
      </div>
    </div>

    <div class="project-info col-xs-4">
      <%= column_chart Authorship.group(:councillor_id).count, width: "400px", height: "400px" %>
    </div>

    <div class="project-info col-xs-4">
      <div class="icon">
        <i class="far fa-flag"></i>
      </div>
      <div class="scroll-wrapper">
        <div class="col-xs-12">
          <% @party_attendances.each do |party| %>
            <div class="card align-center">
              <%= party[0] %>
            </div>
            <div class="card align-center">
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width:<%= party[1] %>%;">
                  <%= party[1] %>%
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div> <!-- scroll-wrapper -->
    </div>

  </div> <!-- row-camara -->
</div> <!-- section -->

