<div class="container">

  <div class="grid">
    <div class="card" id="profile-info">
      <div id="councillor-photo">fotinho</div>
      <div class="councillor-name">
        <h4><%= @councillor.name.split(" ").map { |n| n.capitalize }.join(" ") %></h4>
        <p><%= @councillor.party %></p>
      </div>
      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width:<%= @presence %>%;">
          <%= @presence %>%
        </div>
      </div>
    </div>

    <div class="card" id="contributions-card">
      <div class="card-content">
        <%= line_chart @tipo_list_show.map { |tipo|
          { name: tipo, data: @councillor_projects.where(tipo: tipo).group(:ano).count
          } }
                    %>
        </div> <!-- card-content -->
      </div> <!-- card -->

    <div class="card" id="repo">
      <div class="card-content">
        <h3>119</h3>
        <p>repositories</p>
      </div> <!-- card-content -->
    </div> <!-- card -->

    <div class="card" id="more-about">
      <div class="card-content">
        <h3>More about Sebastien</h3>
        <p class="text-justify">
          I am a full-stack developer with 9 years of experience working in startups. Scratching your own itch? Working on a startup project? Lots of ideas but frustrated that you can't code them? Confused with agencies' or freelances' quotes? No clue when a developer is talking? Time to learn to code with Le Wagon with
          a 9-week intensive and immersive bootcamp!
        </p>
      </div> <!-- card-content -->
    </div> <!-- card -->

  </div> <!-- grid -->

</div> <!-- container -->

